.entity{
    .avatar, .tg{
        display: inline-block;
        vertical-align: middle;
        margin-right:$grid-unit;
    }
}

.user__group{
    display: inline-block;
    vertical-align: middle;
    .avatar{
        margin-left:-5px;
        &:first-child{
            margin-left:0;
        }
    }
}
