.sitting-button {
  border: 2px solid #5F70D0;
  border-radius: 4px;
  background-color: #fff;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #5F70D0;
  margin-left: 6px;
  outline: none;
}

.sitting-button:hover {
  background-color: #5F70D0;
  color: #fff;
}
