.notes__header {
  display: block;
  padding-bottom: 10px;
}
.notes__body > textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #eee;
  padding: 1em;
  resize: none;
  outline: none;
  font-size: 1em;
  border-radius: 5px;
}
